---

- name: Create temporary build directory
  tempfile:
    state: directory
  register: tnf_tempdir
  when: tnf_tempdir is not defined

- name: Get a list of pods
  k8s_info:
    api_version: v1
    kind: pod
    namespace: "{{ tnf_ns }}"
  register: tnf_pod_list

- name: Get a list of csv
  k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: ClusterServiceVersion
    namespace: "{{ tnf_ns }}"
  register: tnf_csv_list

- name: Template generic_test_configuration.yml
  template:
    src: templates/generic_test_configuration.yml.j2
    dest: "{{ tnf_tempdir.path }}/generic_test_configuration.yml"

- name: Template cnf_test_configuration.yml
  template:
    src: templates/cnf_test_configuration.yml.j2
    dest: "{{ tnf_tempdir.path }}/cnf_test_configuration.yml"

- name: Run the CNF Test Suite
  command: "./run-container.sh -t {{ tnf_tempdir.path }} -o {{ job_logs.path }} diagnostic generic"
  args:
    chdir: "{{ tnf_git_dir }}/test_network_function"

...
