[Unit]
Description=DCI Agent for Openshift Application

[Service]
Type=oneshot
ExecStart=-dci-openshift-app-agent-ctl -s
SuccessExitStatus=0
User=dci-openshift-app-agent

[Install]
WantedBy=default.target
