[Unit]
Description=DCI Agent for Openshift Application

[Service]
Type=oneshot
WorkingDirectory=/usr/share/dci-openshift-app-agent
EnvironmentFile=/etc/dci-openshift-app-agent/dcirc.sh
ExecStart=-/usr/bin/ansible-playbook -vv /usr/share/dci-openshift-app-agent/dci-openshift-app-agent.yml
SuccessExitStatus=0
User=dci-openshift-app-agent

[Install]
WantedBy=default.target
