[Unit]
Description=DCI Agent for Openshift Application

[Service]
Type=simple
EnvironmentFile=/etc/dci-openshift-app-agent/dcirc.sh
EnvironmentFile=/etc/sysconfig/dci-openshift-app-agent
ExecStartPre=test -f $KUBECONFIG
ExecStart=/usr/bin/dci-openshift-app-agent-ctl -s $AGENT_OPTIONS -- $ANSIBLE_OPTIONS
SuccessExitStatus=0
User=dci-openshift-app-agent

[Install]
WantedBy=default.target
