apiVersion: v1
kind: List
items:
{% for item in tnf_config %}
{% if item.targetpodlabels is defined and item.targetpodlabels is iterable %}
{% for label in item.targetpodlabels %}
{% if label|length %}
{% for item2 in tnf_config %}
{% if item.namespace is defined and item.namespace|length and item2.namespace is defined and item2.namespace|length %}
  - kind: NetworkPolicy
    apiVersion: networking.k8s.io/v1
    metadata:
      name: allow-{{ label|regex_replace('=', '-') }}-in-{{ item.namespace }}-eg-{{ item2.namespace }}
      namespace: {{ item.namespace }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ item.namespace }}
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ item2.namespace }}
{% if item.namespace != item2.namespace %}
  - kind: NetworkPolicy
    apiVersion: networking.k8s.io/v1
    metadata:
      name: allow-{{ label|regex_replace('=', '-') }}-in-{{ item2.namespace }}-eg-{{ item.namespace }}
      namespace: {{ item.namespace }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ item2.namespace }}
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ item.namespace }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
