apiVersion: v1
kind: List
items:
{% if targetpodlabels|length %}
{% for label in targetpodlabels %}
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: default-deny-egress-{{ label|regex_replace('=', '-') }}
      namespace: {{ app_ns }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      policyTypes:
        - Egress
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: default-deny-ingress-{{ label|regex_replace('=', '-') }}
      namespace: {{ app_ns }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      policyTypes:
        - Ingress
{% endfor %}
{% endif %}
