apiVersion: v1
kind: List
items:
{% if targetpodlabels|length %}
{% for label in targetpodlabels %}
  - kind: NetworkPolicy
    apiVersion: networking.k8s.io/v1
    metadata:
      name: allow-istio-ingress-{{ label|regex_replace('=', '-') }}
      namespace: {{ app_ns }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: istio-system
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ app_ns }}
  - kind: NetworkPolicy
    apiVersion: networking.k8s.io/v1
    metadata:
      name: allow-istio-egress-{{ label|regex_replace('=', '-') }}
      namespace: {{ app_ns }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ app_ns }}
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: istio-system
  - kind: NetworkPolicy
    apiVersion: networking.k8s.io/v1
    metadata:
      name: allow-dns-ingress-{{ label|regex_replace('=', '-') }}
      namespace: {{ app_ns }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: openshift-dns
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ app_ns }}
  - kind: NetworkPolicy
    apiVersion: networking.k8s.io/v1
    metadata:
      name: allow-dns-egress-{{ label|regex_replace('=', '-') }}
      namespace: {{ app_ns }}
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: {{ app_ns }}
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: openshift-dns
{% endfor %}
{% endif %}
