apiVersion: apps/v1
kind: Deployment
metadata:
  name: test
  namespace: {{ app_ns }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: test
  template:
    metadata:
      labels:
        app: test
{% if targetpodlabels|length %}
{% for label in targetpodlabels %}
        {{ label|regex_replace('=', ': ') }}
{% endfor %}
{% if exclude_connectivity_regexp|length and ( "test" | regex_search(exclude_connectivity_regexp) ) %}
        test-network-function.com/skip_connectivity_tests: 'true'
        test-network-function.com/skip_multus_connectivity_tests: 'true'
{% endif %}
{% endif %}
      annotations:
        test-network-function.com/container_tests: '["PRIVILEGED_POD","PRIVILEGED_ROLE"]' # optional
        test-network-function.com/defaultnetworkinterface: '"eth0"' # optional
      name: test
    spec:
      automountServiceAccountToken: false
      containers:
        - command: [ "/bin/bash", "-c", "echo 'logs' && tail -f /dev/null" ]
          image: {{ dci_openshift_app_image | default('quay.io/testnetworkfunction/cnf-test-partner:latest') }}
          imagePullPolicy: IfNotPresent
          name: test
          resources:
            requests:
              memory: 256Mi
              cpu: 0.10
            limits:
              memory: 512Mi
              cpu: 0.25
          lifecycle:
            preStop:
               exec:
                 command: ["/bin/sh","-c","killall -0 tail"]
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - test
            topologyKey: "kubernetes.io/hostname"
