operators:
{% for csv in tnf_csv_list.resources %}
  - name: {{ csv.metadata.name }}
    namespace: {{ tnf_ns }}
    status: Succeeded
    autogenerate: false
    tests:
      - OPERATOR_STATUS
    certifiedoperatorrequestinfo:
{% endfor %}
cnfs:
{% for csv in tnf_csv_list.resources %}
{% for deployment in csv.spec.install.spec.deployments %}
{% for pod in tnf_pod_list.resources %}
{% for container in pod.spec.containers %}
{% if container.name.startswith(deployment.name) %}
  - name: {{ container.name }}
    namespace: {{ tnf_ns }}
    status: Running
    tests:
      - PRIVILEGED_POD
      - PRIVILEGED_ROLE
    certifiedcontainerrequestinfo:
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
