operators:
{% for csv in tnf_csv_list.resources %}
  - name: {{ csv.metadata.name }}
    namespace: {{ tnf_ns }}
    status: Succeeded
    autogenerate: false
    tests:
      - OPERATOR_STATUS
    certifiedoperatorrequestinfo:
{% endfor %}
cnfs:
{% for csv in tnf_csv_list.resources %}
{% for deployment in csv.spec.install.spec.deployments %}
  - name: {{ deployment.name }}
    namespace: {{ tnf_ns }}
    status: Running
    tests:
      - PRIVILEGED_POD
      - PRIVILEGED_ROLE
    certifiedcontainerrequestinfo:
{% endfor %}
{% endfor %}
